/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application BUT this cause problem to mobile layout if you give max-width in pixel. So better comment it.
  */
  html, body {
    /* height: 100%;  */
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* Custom Properties */
:root{

    /* primary */
    --clr-very-dark-blue : hsl(243, 87%, 12%);
    --clr-desaturated-blue :  hsl(238, 22%, 44%);

    /* accent */
    --clr-bright-blue : hsl(224, 93%, 58%);
    --clr-moderate-cyan : hsl(170, 45%, 43%);
    
    /* neutral */
    --clr-light-grayish-blue: hsl(240, 75%, 98%);
    --clr-light-grey : hsl(0, 0%, 75%);

    /* Font size */
    --fs: 1rem;

    /* Font family */
    /* accent */
    --ff-accent: 'Outfit', sans-serif;
    /* neutral on whole body */
    --ff-neutral: 'Open Sans', sans-serif;
}

/* General Styling */
body{
  font-family:var(--ff-neutral);
  font-size: var(--fs);
  background-color: var(--clr-grayish-blue);
  line-height: 1.2;
}
